<template>
  <div class="app-container">
    <PricePredictionComponent
  />
  </div>
</template>

<script lang="ts">
/* eslint-disable */
import { Component, Vue } from 'vue-property-decorator'
import PricePredictionComponent from '@/components/PricePrediction/index.vue'
// import PricePredictionComponent from '@/components/PricePrediction/index'

@Component({
  name: 'PricePrediction',
  components: {
    PricePredictionComponent
  }
})
export default class extends Vue {} // eslint-disable-next-line
</script>