<template>
    <el-table
            ref="draggableTable"
            v-loading="listLoading"
            :data="post"
            border
            fit
            highlight-current-row
            style="width: 100%"
            >
            <!-- <el-table-column
                align="center"
                label="ID"
                width="65"
            >
                <template slot-scope="{row}">
                <span>{{ row.id }}</span>
                </template>
            </el-table-column> -->

            <el-table-column
                width="180px"
                align="center"
            >
                <template slot-scope="{row}">
                <span>{{ row[0] }}</span>
                </template>
            </el-table-column>

            <el-table-column
                width="360px"
                align="center"
            >
                <template slot-scope="{row}">
                <span>{{ row[1] }}</span>
                </template>
            </el-table-column>

            <!-- <el-table-column
                width="180px"
                align="center"
                label="Price Unit"
            >
                <template slot-scope="{row}">
                <span>{{ row.price_unit }}</span>
                </template>
            </el-table-column> -->

            <!-- <el-table-column
                width="100px"
                align="center"
                label="Area"
            >
                <template slot-scope="{row}">
                <span>{{ row.area }}</span>
                </template>
            </el-table-column>

            <el-table-column
                align="center"
                label="Province"
                width="100px"
            >
                <template slot-scope="{row}">
                <span>{{ row.address.addrProvince }}</span>
                </template>
            </el-table-column>

            <el-table-column
                align="center"
                label="City"
                width="100px"
            >
                <template slot-scope="{row}">
                <span>{{ row.address.addrCity }}</span>
                </template>
            </el-table-column>

            <el-table-column
                align="center"
                label="District"
                width="100px"
            >
                <template slot-scope="{row}">
                <span>{{ row.address.addrDistrict }}</span>
                </template>
            </el-table-column>
            <el-table-column
                align="center"
                label="Ward"
                width="100px"
            >
                <template slot-scope="{row}">
                <span>{{ row.address.addrWard }}</span>
                </template>
            </el-table-column>
            <el-table-column
                align="center"
                label="Project"
                width="100px"
            >
                <template slot-scope="{row}">
                <span>{{ row.project.project }}</span>
                </template>
            </el-table-column>
            <el-table-column
                align="center"
                label="Property Type"
                width="100px"
            >
                <template slot-scope="{row}">
                <span>{{ row.propertyType.propertyType }}</span>
                </template>
            </el-table-column>
            <el-table-column
                align="center"
                label="Transaction Type"
                width="100px"
            >
                <template slot-scope="{row}">
                <span>{{ row.transactionType.transaction_type }}</span>
                </template>
            </el-table-column> -->
        </el-table>
</template>
<script>
    /* eslint-disable */
    import axios from "axios";
    var host = "35.224.225.240";
    export default {
        name: 'Post',
        data() { return {
            post: []
        }},
        methods: {
            getPost: function() {
                axios.get("http://"+host+":9000/api/v1/post/"+this.$route.params.id)
                .then(function (response) {
                    this.post = [];
                    for (var key in response.data) {
                        if (response.data.hasOwnProperty(key)) {
                            // console.log(typeof response.data[key])
                            if (typeof response.data[key] == "object") {
                                for (var subkey in response.data[key]) {
                                    if (subkey.match("hibernateLazyInitializer|addr_id|project_id|propertyTypeId|transaction_type_id|author_id")) continue;
                                    if (response.data[key].hasOwnProperty(subkey)) {
                                        if (response.data[key][subkey])
                                            this.post.push([subkey, response.data[key][subkey]]);
                                    }
                                }
                            }
                            else {
                                if (response.data[key])
                                    this.post.push([key, response.data[key]]);
                            }
                        }
                    }
                    // console.log(this.post);
                }.bind(this));
            }
        },
        created() {
            this.getPost();
        }
    }
</script>