<template>
    <div class="app-container">
        <div class="filter-container">
            <el-select
                filterable
                v-model="province"
                placeholder="Select Province"
                clearable
                class="filter-item"
                style="width: 150px"
                @change='getDistricts()'
            >
                <el-option
                v-for="item in provinces"
                :key="item.value"
                :label="item.value"
                :value="item.value"
                />
            </el-select>
            <el-select
                filterable
                v-model="district"
                placeholder="Select District"
                clearable
                class="filter-item"
                style="width: 150px"
                @change='getWards()'
            >
                <el-option
                v-for="item in districts"
                :key="item.value"
                :label="item.value"
                :value="item.value"
                />
            </el-select>
            <el-select
                filterable
                v-model="ward"
                placeholder="Select Ward"
                clearable
                class="filter-item"
                style="width: 150px"
            >
                <el-option
                v-for="item in wards"
                :key="item.value"
                :label="item.value"
                :value="item.value"
                />
            </el-select>
            <el-select
                filterable
                v-model="project"
                placeholder="Select Project"
                clearable
                class="filter-item"
                style="width: 150px"
            >
                <el-option
                v-for="item in projects"
                :key="item.value"
                :label="item.value"
                :value="item.value"
                />
            </el-select>
            <el-select
                filterable
                v-model="property"
                placeholder="Select Property"
                clearable
                class="filter-item"
                style="width: 150px"
            >
                <el-option
                v-for="item in properties"
                :key="item.value"
                :label="item.value"
                :value="item.value"
                />
            </el-select>
            <el-select
                v-model="transaction"
                placeholder="Select Transaction"
                clearable
                class="filter-item"
                style="width: 150px"
            >
                <el-option
                key="bán"
                label="bán"
                value="bán"
                />
                <el-option
                key="cho thuê"
                label="cho thuê"
                value="cho thuê"
                />
            </el-select>
            <el-select
                v-model="area"
                placeholder="Select Area"
                clearable
                class="filter-item"
                style="width: 150px"
                value-key="lower"
            >
                <el-option v-for="(item, i) in areaOptions" :key="i" :label="item.label" :value="item.value">
                </el-option>
            </el-select>
        </div>
        <div class="block">
            <span class="demonstration">Price</span>
            <el-slider
            v-model="price.value"
            :max="price.max"
            range>
            </el-slider>
        </div>
        <div class="block">
            <el-button
            @click="getPosts()"
            >
            Search
            </el-button>
        </div>
        <google-map v-bind:posts="posts"/>
        <el-table
            ref="draggableTable"
            v-loading="listLoading"
            :data="posts"
            row-key="id"
            border
            fit
            highlight-current-row
            style="width: 100%"
            @row-click="rowClicked"
            >
            <el-table-column
                width="180px"
                align="center"
                label="Url"
            >
                <template slot-scope="{row}">
                <span>{{ row.url }}</span>
                </template>
            </el-table-column>

            <el-table-column
                width="100px"
                align="center"
                label="Price"
            >
                <template slot-scope="{row}">
                <span>{{ row.price }}</span>
                </template>
            </el-table-column>
            <el-table-column
                width="100px"
                align="center"
                label="Price Unit"
            >
                <template slot-scope="{row}">
                <span>{{ row.price_unit }}</span>
                </template>
            </el-table-column>
            <el-table-column
                width="100px"
                align="center"
                label="Area"
            >
                <template slot-scope="{row}">
                <span>{{ row.area }}</span>
                </template>
            </el-table-column>

            <el-table-column
                align="center"
                label="Province"
                width="100px"
            >
                <template slot-scope="{row}">
                <span>{{ row.address.addrProvince }}</span>
                </template>
            </el-table-column>

            <el-table-column
                align="center"
                label="City"
                width="100px"
            >
                <template slot-scope="{row}">
                <span>{{ row.address.addrCity }}</span>
                </template>
            </el-table-column>

            <el-table-column
                align="center"
                label="District"
                width="100px"
            >
                <template slot-scope="{row}">
                <span>{{ row.address.addrDistrict }}</span>
                </template>
            </el-table-column>
            <el-table-column
                align="center"
                label="Ward"
                width="100px"
            >
                <template slot-scope="{row}">
                <span>{{ row.address.addrWard }}</span>
                </template>
            </el-table-column>
            <el-table-column
                align="center"
                label="Project"
                width="100px"
            >
                <template slot-scope="{row}">
                <span>{{ row.project.project }}</span>
                </template>
            </el-table-column>
            <el-table-column
                align="center"
                label="Property Type"
                width="100px"
            >
                <template slot-scope="{row}">
                <span>{{ row.propertyType.propertyType }}</span>
                </template>
            </el-table-column>
            <el-table-column
                align="center"
                label="Transaction Type"
                width="100px"
            >
                <template slot-scope="{row}">
                <span>{{ row.transactionType.transaction_type }}</span>
                </template>
            </el-table-column>
            <el-table-column
                align="center"
                label="Created Date"
                width="110px"
            >
                <template slot-scope="{row}">
                <span>{{ row.createdDate }}</span>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
        :current-page.sync="currentPage"
        :page-size.sync="limit"
        :total="total"
        v-bind="$attrs"
        @current-change="getPosts()"
        />
    </div>
</template>
<script>
/* eslint-disable */
import store from "@/region.js";
import axios from "axios";
import GoogleMap from "./GoogleMap";
var host = "35.224.225.240";
export default {
    name: 'Posts',
    components: { GoogleMap },
    data() { return {
        provinces: store.provinces.sort((a, b) => (a.value > b.value) ? 1 : -1),
        province: '',
        districts: [],
        district: '',
        wards: [],
        ward: '',
        projects: [],
        project: '',
        properties: [],
        property: '',
        transaction: '',
        posts: [],
        total: 0,
        currentPage: 1,
        limit: 10,
        price: {
            value: [0, 1000],
            max: 1000
        },
        area: {lower: 0,upper: 300000},
        areaOptions: [{
          value: {lower: 0, upper: 30},
          label: 'Under 30 m2'
        }, {
          value: {lower: 30, upper: 50},
          label: '30 m2 - 50 m2'
        }, {
          value: {lower: 50, upper: 70},
          label: '50 m2 - 70 m2'
        }, {
          value: {lower: 70, upper: 100},
          label: '70 m2 - 100 m2'
        }, {
          value: {lower: 100, upper: 150},
          label: '100 m2 - 150 m2'
        }, {
          value: {lower: 150, upper: 300},
          label: '150 m2 - 300 m2'
        }, {
          value: {lower: 300, upper: 500},
          label: '300 m2 - 500 m2'
        }, {
          value: {lower: 500, upper: 300000},
          label: 'Over 500 m2'
        }]
    }
    },
    methods: {
        getPosts: function() {
                var provinceText = (this.province) ? "/"+this.province.toLowerCase().replace(/(huyện |thành phố |thị xã |quận |phường |thị trấn |xã |tỉnh )/,'') : "";
                var districtText = (this.district) ? "/"+this.district.toLowerCase().replace(/(huyện |thành phố |thị xã |quận |phường |thị trấn |xã |tỉnh )/,'') : "";
                var wardText = (this.ward) ? "/"+this.ward.toLowerCase().replace(/(huyện |thành phố |thị xã |quận |phường |thị trấn |xã |tỉnh )/,'') : "";
                var projectText = this.project ? this.project : "";
                var propertyText = this.property ? this.property : "";
                var transactionText = this.transaction ? this.transaction : "";
                var page = this.currentPage ? this.currentPage - 1 : 0;
                
                axios.get("http://"+host+":9000/api/v1/posts"+provinceText+districtText+wardText+"?project="+projectText+"&property="+propertyText+"&transaction="+transactionText+"&price.gt="+this.price.value[0]+"&price.lt="+this.price.value[1]+"&area.gt="+this.area.lower+"&area.lt="+this.area.upper+"&page="+page)
                .then(function (response) {
                    this.posts = response.data.content;
                    this.total = response.data.totalPages;
                    this.currentPage = response.data.number + 1;
                }.bind(this));
        },
        getDistricts: function() {
                this.districts = store.districts.filter(
                    district => district.province_name === this.province
                ).sort((a, b) => (a.value > b.value) ? 1 : -1)
            },
        getWards: function() {
            this.wards = store.wards.filter(
                ward => ward.province_name === this.province && ward.district_name === this.district
            ).sort((a, b) => (a.value > b.value) ? 1 : -1)
        },
        getProjects: function(){
                axios.get('http://'+host+':9000/showProject')
                .then(function (response) {
                    this.projects = response.data.map(project => ({ value: project.project}));
                    this.projects = this.projects.filter(project => project.value).sort((a, b) => (a.value > b.value) ? 1 : -1);
                }.bind(this));
        },
        getProperties: function(){
                axios.get('http://'+host+':9000/showPropertyType')
                .then(function (response) {
                    this.properties = response.data.map(property => ({ value: property.propertyType}));
                    this.properties = this.properties.filter(property => property.value);
                }.bind(this));
            },
        rowClicked (row) {
                let route =  this.$router.resolve({path: `/posts/${row.id}`})
                window.open(route.href, '_blank');
            },
    },
    created() {
            this.getProjects();
            this.getProperties();
            this.getPosts();
    }
}
</script>
