<template>
  <div id="todo-list-example" class="container" style="font-family:Helvetica">
    <!-- set progressbar -->
    <vue-progress-bar></vue-progress-bar>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h1 class="text-center">Price Prediction Service</h1>
          <el-card
              class="box-card"
              style="margin-top: 40px;"
          >
         <label for="tasknameinput">Real Estate Price Prediction</label>
          <br>
          <br>
          <div class="container">
        <form v-on:submit.prevent="addNewTask" ref="form" :model="form" label-width="120px">
          <div class="block">
            <!-- <label for="fname" id="tasknameinput"><b>Province/ City: </b></label>
            <el-input v-model="province" type="text" id="tasknameinput" class="form-control" placeholder="Ex: long an">
            </el-input>
            <label class="form-label" for="city" id="tasknameinput"> <b>Town/ District: </b></label>
            <el-input v-model="city" type="text" id="city" class="form-control" placeholder="Ex: ho chi minh" >
            </el-input> -->
            <!-- <label class="form-label" for="city" id="tasknameinput"> <b>District: </b></label>
            <div class="block">
            <input v-model="district" type="text" id="tasknameinput" class="form-control" placeholder="Ex: quan 10"><br>
            </div> -->
            <!-- <label class="form-label" for="city" id="tasknameinput"> <b>Ward/ Village: </b></label>
            <el-input v-model="ward" type="text" id="tasknameinput" class="form-control" placeholder="Ex: phuong 9">
            </el-input> -->
            <div>
            <span for="fname" id="tasknameinput"><b>Province/ City:</b></span> 
            <div class="block">
            <el-select
                size="large"
                v-model="province"
                placeholder="Select Province"
                clearable
                class="filter-item"
                style="width: 230px"
                filterable
                @change='getDistricts()'
            >
                <el-option
                v-for="item in provinces"
                :key="item.value"
                :label="item.value"
                :value="item.value"
                />
            </el-select>
            </div>
            </div >

            <div >
            <span for="fname" id="tasknameinput"><b>Town/ District:</b></span> 
            <div class="block">
            <el-select
                size="large"
                v-model="city"
                placeholder="Select District"
                clearable
                filterable
                class="filter-item"
                style="width: 230px"
                @change='getWards()'
            >
                <el-option
                v-for="item in districts_html"
                :key="item.value"
                :label="item.value"
                :value="item.value"
                />
            </el-select>
            </div>
            </div >
            
            <div >
            <span class="form-label" for="city" id="tasknameinput"> <b>Ward/ Village:</b></span>
            <div class="block">
            <el-select
                size="large"
                v-model="ward"
                placeholder="Select Ward"
                clearable
                filterable
                class="filter-item"
                style="width: 230px"
            >
                <el-option
                v-for="item in wards_html"
                :key="item.value"
                :label="item.value"
                :value="item.value"
                />
            </el-select>
            </div>
            </div >
          </div>

          <div class="block">
            <div>
            <span class="form-label" for="city" id="tasknameinput"> <b>Area (m2): </b></span>
            <div class="block">
            <el-input-number :precision="1" :step="1" v-model="area" :min="0" placeholder="Ex: 500" style="width: 230px; padding: 0px"><br>
            </el-input-number>
            </div>
            </div>

            <div>
            <span class="form-label" for="city" id="tasknameinput"> <b> Front (m): </b></span>
            <div class="block">
            <el-input-number :precision="1" :step="1" :min="0" v-model="front" type="number" id="tasknameinput" class="form-control" placeholder="Ex: 10" style="width: 230px; padding: 0px"><br>
            </el-input-number>
            </div>
            </div>

            <div>
            <span class="form-label" for="city" id="tasknameinput"><b> Alley (m): </b></span>
            <div class="block">
            <el-input-number :precision="1" :step="1" :min="0" v-model="alley" type="number" id="tasknameinput" class="form-control" placeholder="Ex: 5" style="width: 230px; padding: 0px"><br>
            </el-input-number>
            </div>
            </div>
          </div>
          <!-- <p>
          <label class="form-label" for="city" id="tasknameinput"> Post Date: </label>
          <input v-model="date" type="text" id="tasknameinput" class="form-control" placeholder="Date"><br>
          </p> -->
          <div>
          <div>
          <span class="form-label" for="city" id="tasknameinput"><b> Post Date: </b></span>
          <div class="block">
          <el-date-picker
            size="large"
            v-model="date"
            format="dd-MM-yyyy"
            :placeholder="$t('Pick a date')"
            type="date"
            style="width: 230px; padding: 0px"
          />
          </div>
          </div>
          </div>

          <div class="block">
          <div>
          <span class="form-label" for="city" id="tasknameinput"><b> Choose the transaction type: </b></span>
          <div class="block">
          <el-radio-group
            v-model="ban"
            size="large"
          >
            <el-radio
              label="ban"
              value="ban"
              border
              style="width: 230px"
            >
              Bán
            </el-radio>
            <el-radio
              label="thue"
              value="thue"
              border
              style="width: 230px"
            >
              Thuê
            </el-radio>
          </el-radio-group>
          </div>
        </div>
          </div>
         
          <!-- <input type="radio" id="one" value="One" v-model="picked">
          <label for="one">Đất, đất nền dự án</label>
          <br>
          <input type="radio" id="two" value="Two" v-model="picked">
          <label for="two">Nhà ở, nhà mặt tiền, chung cư, căn hộ, ...</label> -->
          <div v-if="ban === 'ban'">
          <div>
          <span class="form-label" for="city" id="tasknameinput"><b> Type of your real estate: </b></span>
          <div class="block">
          <el-radio-group
            v-model="picked"
            size="large"
          >
            <el-radio
              label="One"
              value="One"
              border
              style="width: 230px"
            >
              Đất, đất nền dự án
            </el-radio>
            <el-radio
              label="Two"
              value="Two"
              border
              style="width: 350px"
            >
              Nhà ở, nhà mặt tiền, chung cư, căn hộ, ...
            </el-radio>
          </el-radio-group>
          </div>
        </div>
          </div>


          <div class='type' v-else-if="ban === 'thue'">
            <b>Additional Renting's Information: (It is just used for house not land, because renting land is not popular)</b> <br> <br>

            <div class="block">
              <div>
                <span class="form-label" for="city" id="tasknameinput"><b> Number of floors: </b></span>
                <div class="block">
                <el-input-number :step="1" :min="0" v-model="numFloors" type="number" id="tasknameinput" class="form-control" placeholder="Ex: 5" style="width: 230px; padding: 0px"></el-input-number>
                </div>
              </div>

              <div>
                <span class="form-label" for="city" id="tasknameinput"><b>Number of bedrooms: </b></span>
                <div class="block">
                <el-input-number  :step="1" :min="0" v-model="numBedrooms" type="number" id="tasknameinput" class="form-control" placeholder="Ex: 8" style="width: 230px; padding: 0px"></el-input-number>
                </div>
              </div>

              <div>
                <span class="form-label" for="city" id="tasknameinput"><b>Number of bathrooms: </b></span>
                <div class="block">
                <el-input-number  :step="1" :min="0" v-model="numBathrooms" type="number" id="tasknameinput" class="form-control" placeholder="Ex: 4" style="width: 230px; padding: 0px"></el-input-number>
                </div>
              </div>
            </div>
            <!-- <select v-model="propertyType" style="font-family:Garamond">
            <option v-for="prop in propertyTypesNha" v-bind:key="prop.id"> {{prop}} </option>
            </select> -->
            <div class="block">
            <div>
            <span class="form-label" for="city" id="tasknameinput"><b> Property Type: </b></span>
            <div class="block">
              <el-select
                v-model="propertyType"
                :placeholder="$t('Pick a type of your house')"
                style="width: 230px; padding: 0px"
              >
                <el-option
                  v-for="item in propertyTypesThue"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </div>
            </div>
            </div>
          </div>
        

          <div class='type' v-if="picked === 'Two' && ban === 'ban'">
            <b>Additional House's Information:</b> <br> <br>

            <div class="block">
              <div>
                <span class="form-label" for="city" id="tasknameinput"><b> Number of floors: </b></span>
                <div class="block">
                <el-input-number :step="1" :min="0" v-model="numFloors" type="number" id="tasknameinput" class="form-control" placeholder="Ex: 5" style="width: 230px; padding: 0px"></el-input-number>
                </div>
              </div>

              <div>
                <span class="form-label" for="city" id="tasknameinput"><b>Number of bedrooms: </b></span>
                <div class="block">
                <el-input-number  :step="1" :min="0" v-model="numBedrooms" type="number" id="tasknameinput" class="form-control" placeholder="Ex: 8" style="width: 230px; padding: 0px"></el-input-number>
                </div>
              </div>

              <div>
                <span class="form-label" for="city" id="tasknameinput"><b>Number of bathrooms: </b></span>
                <div class="block">
                <el-input-number  :step="1" :min="0" v-model="numBathrooms" type="number" id="tasknameinput" class="form-control" placeholder="Ex: 4" style="width: 230px; padding: 0px"></el-input-number>
                </div>
              </div>
            </div>
            <!-- <select v-model="propertyType" style="font-family:Garamond">
            <option v-for="prop in propertyTypesNha" v-bind:key="prop.id"> {{prop}} </option>
            </select> -->
            <div class="block">
            <div>
            <span class="form-label" for="city" id="tasknameinput"><b> Property Type: </b></span>
            <div class="block">
              <el-select
                v-model="propertyType"
                :placeholder="$t('Pick a type of your house')"
                style="width: 230px; padding: 0px"
              >
                <el-option
                  v-for="item in propertyTypesNha"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </div>
            </div>
            </div>
          </div>

          <div class='type' v-else-if="picked === 'One' && ban === 'ban'">
            <!-- <select v-model="propertyType" style="font-family:Garamond">
            <option v-for="prop in propertyTypesDat" v-bind:key="prop.id"> {{prop}} </option>
            </select> -->
            <div class="block">
            <div>
            <span id="tasknameinput"><b>Property Type: </b></span>
            <div class="block">
            <el-select
              v-model="propertyType"
              :placeholder="$t('Pick a type of your land')"
              style="width: 230px; padding: 0px"
            >
              <el-option
                v-for="item in propertyTypesDat"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
            </div>
            </div>
            </div>
          </div>
          <br>
          <center>
          <button type="submit" class="btn btn-success btn-block mt-3">
            Submit
          </button>
          </center>
          </form >
          </div>
          <br>
          <br>
          </el-card>
        <!-- <table class="table"> -->
          <el-card
            class="box-card"
            style="margin-top: 40px;"
          >
            <div
              slot="header"
              class="clearfix"
            >
            <svg-icon name="money" />
            <span style="margin-left:10px;"><b>  Model Prediction: </b></span>
            </div>
    
            <div>
            <span><b> {{pred}} </b></span>
            </div>
            <div>
            <span v-if="pred != 'No input'">
              Giá này được dự đoán dựa vào model đã train trên toàn bộ dữ liệu crawl được trên các trang bất động sản
            </span>
            </div>

            
        <!-- </table> -->
          </el-card>
      </div>
    </div>
  </div>

</template>

<style scoped>
@import url("//unpkg.com/element-ui@2.15.1/lib/theme-chalk/index.css");
form {
  border: 3px solid white;
  display: inline-block;
}

input[type=text], input[type=number], el-input, div[class="block"] select {
  width: 60%;
  padding: 16px 26px;
  margin: 14px 0;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

table{
  display: inline-block;
}

td[class="text-left"]{
  font-size: 20px;
}


button[type=submit] {
  width: 30%;
  background-color: #6296c0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

div [class='type']{
  border: 2px solid rgb(247, 246, 246);
  padding: 30px;
}

label[id="tasknameinput"]{
  float: left;
}

.block {
  padding: 15px;
  display: flex;
}


.box-card {
  width: 1000px;
  max-width: 100%;
  margin: 20px auto;
}
</style>
<script lang="ts">
/* eslint-disable */
// @ts-ignore
import store from "@/region.js";
import axios from 'axios'
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component({
  name: 'PricePrediction'
})

export default class extends Vue {
//   created() {
//   }
    // private VUE_PRICE_PRED = process.env.VUE_APP_PREDICT_API
    // private VUE_PRICE_PRED = 'http://34.87.1.181:5000'
    private VUE_PRICE_PRED = 'http://localhost:5000'
    private picked = ''
    // private pred: [],
    // private info: [],
    @Prop({ required: true }) private pred = 'No input'
    @Prop({ required: true }) private info: Number[] = []
    private id = ''
    private city = ''
    private province = ''
    private district = ''
    private ward = ''
    private area = 0
    private front = 0
    private alley = 0
    private numFloors = 0
    private numBedrooms = 0
    private numBathrooms = 0
    private date = ''
    private ban = ''
    private propertyTypesDat = [{value: 'đất', label: 'Đất thường - không trong dự án'}, {value: 'đất nền dự án', label: 'Đất nền dự án'}]
    private propertyTypesNha = [{value :'căn hộ', label: 'Căn hộ'}, {value: 'căn hộ chung cư', label: 'Căn hộ chung cư'}, {value: 'nhà biệt thự, liền kề', label: 'Nhà biệt thự, liền kề'}, {value: 'nhà mặt phố', label: 'Nhà mặt phố'}, {value: 'nhà riêng', label: 'Nhà riêng'}]
    private propertyTypesThue = [{value: 'căn hộ chung cư', label: 'Căn hộ chung cư'}, {value: 'cửa hàng, ki ốt', label: 'Cửa hàng, ki ốt'}, {value: 'nhà mặt phố', label: 'Nhà mặt phố'}, {value: 'nhà riêng', label: 'Nhà riêng'}, {value: 'văn phòng', label: 'Văn phòng'}]
    private propertyType = ''
    private provinces = store.provinces
    public districts_html = Array();
    public wards_html = Array();
    // getTasks() {
    //   axios.post(this.VUE_PRICE_PRED + '/api/result').then(
    //     result => {
    //       console.log(result)
    //       this.info = result.data[0].info
    //       this.pred = result.data[0].prediction
    //     },
    //     error => {
    //       console.error(error)
    //     }
    //   )
    // }

    addNewTask() {
      console.log(this.VUE_PRICE_PRED);
      axios.post(this.VUE_PRICE_PRED + '/api/process',
        {
          ban: this.ban,
          picked: this.picked,
          city: this.city,
          province: this.province,
          district: this.district,
          ward: this.ward,
          area: this.area,
          front: this.front,
          alley: this.alley,
          date: this.date,
          num_floors: this.numFloors,
          num_bedrooms: this.numBedrooms,
          num_bathrooms: this.numBathrooms,
          property_type: this.propertyType
        })
        .then(res => {
          // this.getTasks()
          console.log(res)
          // this.info = res.data[0].info
          this.pred = res.data
          console.log(res)
          return res
        })
        .catch(err => {
          console.log(err)
        })
    }

    getDistricts() {
        this.districts_html = store.districts.filter(
            (district:any) => district.province_name === this.province
        )
    }
    getWards() {
        this.wards_html = store.wards.filter(
            (ward: any) => ward.province_name === this.province && ward.district_name === this.city
        )
    }

    // mounted() {
    //   this.getTasks()
    // }
}// eslint-disable-next-line
</script>

