<template>
  <div class="dashboard-editor-container">
    <el-select v-model="selectedTrans"
      filterable
      :value-key="selectedTrans"
      @change="handleChangeTransactionType">
      <el-option
        v-for="item in selectTrans"
        :key="item.value"
        :label="item.label"
        :value="item.value">
      </el-option>
    </el-select>
    <el-select v-model="selectedProvinceCity"
      filterable
      :value-key="selectedProvinceCity"
      @change="handleChangeProvinceCity">
      <el-option
        v-for="item in provinceCities"
        :key="item"
        :label="item"
        :value="item">
      </el-option>
    </el-select>

    <github-corner class="github-corner" />

    <panel-group @handle-set-line-chart-data="handleSetLineChartData" :items="topItems" />

    <el-row style="background:#fff;padding:16px 16px 0;margin-bottom:32px;">
      <line-chart :chart-data="lineChartData" />
    </el-row>

    <el-row>
      <el-col
        :xs="24"
        :sm="24"
        :lg="8"
      >
        <div class="chart-wrapper">
          <pie-chart :transactions="transactions" :name="'Transaction Type'"/>
        </div>
      </el-col>
      <el-col
        :xs="24"
        :sm="24"
        :lg="8"
      >
        <div class="chart-wrapper">
          <pie-chart :transactions="propertyCount" :name="'Number of Properties'" />
        </div>
      </el-col>
      <el-col
        :xs="24"
        :sm="24"
        :lg="8"
      >
        <div class="chart-wrapper">
          <pie-chart :transactions="addrCity" :name="'Number of Property in City'"/>
        </div>
      </el-col>
    </el-row>

    <el-row :gutter="5" v-if="selectedProvinceCity === provinceCities[0]">
      <el-col
        :xs="24"
        :sm="24"
        :lg="12"
      >
        <div class="chart-wrapper">
          <mixed-bar-chart :data="metroPriceData"/>
        </div>
      </el-col>
      <el-col
        :xs="24"
        :sm="24"
        :lg="12"
      >
        <div class="chart-wrapper">
          <mixed-bar-chart :data="metroAreaData"/>
        </div>
      </el-col>
    </el-row>

    <el-row :gutter="5" v-if="selectedProvinceCity !== provinceCities[0]">
      <el-col
        :xs="24"
        :sm="24"
        :lg="12"
      >
        <div class="chart-wrapper">
          <horizon-bar-chart :districts="districts" :measures="prices" :name="'price'"/>
        </div>
      </el-col>
      <el-col
        :xs="24"
        :sm="24"
        :lg="12"
      >
        <div class="chart-wrapper">
          <horizon-bar-chart :districts="districts" :measures="areas" :name="'area'"/>
        </div>
      </el-col>
    </el-row>

    <el-row :gutter="5">
      <el-col
        :xs="{span: 24}"
        :sm="{span: 24}"
        :md="{span: 24}"
        :lg="{span: 12}"
        :xl="{span: 12}"
        style="padding-right:8px;margin-bottom:30px;"
      >
        <transaction-table :transaction="selectedTrans" :province="selectedProvinceCity" />
      </el-col>
      <el-col
        :xs="{span: 24}"
        :sm="{span: 24}"
        :md="{span: 24}"
        :lg="{span: 12}"
        :xl="{span: 12}"
        style="padding-right:8px;margin-bottom:30px;"
        >
        <!-- <ejs-maps id='container' :load='load' :titleSettings='titleSettings' :zoomSettings='zoomSettings' :legendSettings='legendSettings'>
          <e-layers>
            <e-layer :shapeData='shapeData' :shapePropertyPath='shapePropertyPath' :shapeDataPath='shapeDataPath' :dataSource='dataSource' :shapeSettings='shapeSettings' :markerSettings='markerSettings'></e-layer>
          </e-layers> style="padding-right:8px;margin-bottom:30px;"
        </ejs-maps> -->
        <interactive-map :transaction="selectedTrans" />
      </el-col>
      <!-- <el-col
        :xs="{span: 24}"
        :sm="{span: 12}"
        :md="{span: 12}"
        :lg="{span: 6}"
        :xl="{span: 6}"
        style="margin-bottom:30px;"
      >
        <todo-list />
      </el-col>
      <el-col
        :xs="{span: 24}"
        :sm="{span: 12}"
        :md="{span: 12}"
        :lg="{span: 6}"
        :xl="{span: 6}"
        style="margin-bottom:30px;"
      >
        <box-card />
      </el-col> -->
    </el-row>
    <!-- <el-row>
      <interactive-map />
    </el-row> -->
  </div>
</template>

<script lang="ts">
import 'echarts/theme/macarons.js' // Theme used in BarChart, LineChart, PieChart and RadarChart
import { Component, Vue } from 'vue-property-decorator'
import GithubCorner from '@/components/GithubCorner/index.vue'
import BarChart from './components/BarChart.vue'
import BoxCard from './components/BoxCard.vue'
import LineChart, { ILineChartData } from './components/LineChart.vue'
import PanelGroup from './components/PanelGroup.vue'
import PieChart from './components/PieChart.vue'
import RadarChart from './components/RadarChart.vue'
import TodoList from './components/TodoList/index.vue'
import TransactionTable from './components/TransactionTable.vue'
import { Address } from './entities/address'
import { PropTransPrice } from './entities/PropTransPrice'
import InteractiveMap from './components/InteractiveMap.vue'
import MixedBarChart from './components/MixedBarChart.vue'
import HorizonBarChart from './components/HorizonBarChart.vue'

const lineChartData: { [type: string]: ILineChartData } = {
  item1: {
    sell: [],
    months: []
  },
  item2: {
    sell: [],
    months: []
  },
  item3: {
    sell: [],
    months: []
  },
  item4: {
    sell: [],
    months: []
  }
}

@Component({
  name: 'DashboardAdmin',
  components: {
    GithubCorner,
    BarChart,
    BoxCard,
    LineChart,
    PanelGroup,
    PieChart,
    RadarChart,
    TodoList,
    TransactionTable,
    InteractiveMap,
    MixedBarChart,
    HorizonBarChart
  }
})
export default class extends Vue {
  // private lineChartData = lineChartData.newVisitis
  private lineChartData = lineChartData.item1
  private VUE_DASHBOARD_API = process.env.VUE_APP_DASHBOARD_API
  private axios = require('axios').default;
  private addresses: Address[] = []
  private transactions: any[] = []
  private propertyCount: any[] = []
  private addrCity: any[] = []
  private metroPriceData: any;
  private metroAreaData: any;
  // private avgPrices: any[] = []
  private totalPosts: Number = 0;
  private loading = true
  // private dateSell = [new Date(2019, 1, 1, 0, 0), new Date(2020, 10, 1, 0, 0)]
  private topItems: PropTransPrice[] = []
  private selectTrans = [
    {
      value: 'bán',
      label: 'Bán'
    },
    {
      value: 'cho thuê',
      label: 'Cho Thuê'
    }
  ]
  private selectedTrans = 'bán'
  private provinceCities = [
    'Tất cả', 'Lai Châu', 'Lào Cai', 'Hà Giang', 'Cao Bằng', 'Sơn La', 'Yên Bái', 'Tuyên Quang', 'Lạng Sơn', 'Quảng Ninh', 'Hòa Bình', 'Hà Tây', 'Ninh Bình',
    'Thái Bình', 'Thanh Hóa', 'Nghệ An', 'Hà Tĩnh', 'Quảng Bình', 'Quảng Trị', 'Thừa Thiên Huế', 'Quảng Nam', 'Kon Tum', 'Quảng Ngãi', 'Gia Lai', 'Bình Định',
    'Phú Yên', 'Đắk Lắk', 'Khánh Hòa', 'Lâm Đồng', 'Ninh Thuận', 'Tây Ninh', 'Đồng Nai', 'Bình Thuận', 'Long An', 'Bà Rịa Vũng Tàu', 'An Giang', 'Đồng Tháp',
    'Tiền Giang', 'Kiên Giang', 'Vĩnh Long', 'Bến Tre', 'Trà Vinh', 'Sóc Trăng', 'Bắc Kạn', 'Bắc Giang', 'Bạc Liêu', 'Bắc Ninh', 'Bình Dương', 'Bình Phước',
    'Cà Mau', 'Hải Dương', 'Hà Nam', 'Hưng Yên', 'Nam Định', 'Phú Thọ', 'Thái Nguyên', 'Vĩnh Phúc', 'Điện Biên', 'Đắk Nông', 'Hậu Giang', 'Cần Thơ',
    'Đà Nẵng', 'Hà Nội', 'Hải Phòng', 'Hồ Chí Minh'
  ]
  private selectedProvinceCity = 'Tất cả'
  private districts: string[] = []
  private prices: number[] = []
  private areas: number[] = []

  private handleSetLineChartData(type: string) {
    this.lineChartData = lineChartData[type]
  }

  created() {
    this.getAveragePricePerMonth()
    this.getTransactionCount()
    this.getPropertyCount()
    this.getProvinceCityCount()
    if (this.selectedProvinceCity === this.provinceCities[0]) {
      this.getMetropolisPriceArea()  
    } else {
      this.getCityDistrictPriceArea()
    }
  }

  handleChangeProvinceCity() {
    this.getAveragePricePerMonth()
    this.getTransactionCount()
    this.getPropertyCount()
    this.getProvinceCityCount()
    this.getCityDistrictPriceArea()
  }

  handleChangeTransactionType() {
    this.getAveragePricePerMonth()
    this.getPropertyCount()
    this.getProvinceCityCount()
    if (this.selectedProvinceCity === this.provinceCities[0]) {
      this.getMetropolisPriceArea()  
    } else {
      this.getCityDistrictPriceArea()
    }
  }

  async getCityDistrictPriceArea() {
    this.districts = []
    this.prices = []
    this.areas = []

    this.axios.get(this.VUE_DASHBOARD_API + 'getCityDistrictPriceArea?transaction=' + this.selectedTrans + '&province=' + this.selectedProvinceCity)
    .then((response: any) => {
      response.data.entities.map((prop: any) => {
        this.districts.push(prop.city_district)
        this.prices.push(prop.average_price.toFixed(2))
        this.areas.push(prop.total_area.toFixed(2))
      })
    })
  }

  async getMetropolisPriceArea() {
    this.axios.get(this.VUE_DASHBOARD_API + 'getMetropolisPriceArea?transaction=' + this.selectedTrans).then((response: any) => {
      this.metroPriceData = response.data.price
      this.metroAreaData = response.data.area
    })
  }

  async getAddress() {
    this.axios.get(this.VUE_DASHBOARD_API + 'getAddress').then((response: any) => {
      response.data.entities.map((addr: any) => this.addresses.push(new Address(addr)))
    })
  }

  async getTransactionCount() {
    this.transactions = []
    const api = this.selectedProvinceCity === this.provinceCities[0]
      ? this.VUE_DASHBOARD_API + 'getTransactionCount'
      : this.VUE_DASHBOARD_API + 'getTransactionCount?province=' + this.selectedProvinceCity

    this.axios.get(api).then((response: any) => {
      response.data.entities.map((tran: any) => {
        return this.transactions.push({ value: tran.transaction_count, name: tran.transaction_type })
      })
    })

    console.log(this.transactions)
  }

  async getPropertyCount() {
    this.propertyCount = []
    const api = this.selectedProvinceCity === this.provinceCities[0]
      ? this.VUE_DASHBOARD_API + 'getPropertyCount?transaction=' + this.selectedTrans
      : this.VUE_DASHBOARD_API + 'getPropertyCount?transaction=' + this.selectedTrans + '&province=' + this.selectedProvinceCity

    this.axios.get(api).then((response: any) => {
      this.totalPosts = 0
      response.data.entities.map((prop: any) => {
        if (this.propertyCount.length >= 6) {
          this.totalPosts += prop.property_count
        } else {
          this.propertyCount.push({ value: prop.property_count, name: prop.property_type })
        }
        return this.propertyCount
      })
      if (this.totalPosts > 0) {
        this.propertyCount.push({ value: this.totalPosts, name: 'Những loại bất động sản khác' })
      }
    })
  }

  async getProvinceCityCount() {
    this.addrCity = []
    const api = this.selectedProvinceCity === this.provinceCities[0]
      ? this.VUE_DASHBOARD_API + 'getProvinceCityCount?transaction=' + this.selectedTrans
      : this.VUE_DASHBOARD_API + 'getProvinceCityCount?transaction=' + this.selectedTrans + '&province=' + this.selectedProvinceCity

    this.axios.get(api).then((response: any) => {
      response.data.entities.map((prop: any) => this.addrCity.push({ value: prop.province_city_count, name: prop.province_city }))
    })
  }

  async getAveragePricePerMonth() {
    const api = this.selectedProvinceCity === this.provinceCities[0]
      ? this.VUE_DASHBOARD_API + 'getAveragePricePerMonth?transaction=' + this.selectedTrans
      : this.VUE_DASHBOARD_API + 'getAveragePricePerMonth?transaction=' + this.selectedTrans + '&province=' + this.selectedProvinceCity

    this.topItems = []
    this.axios.get(api).then((response: any) => {
      const sells: [][] = []
      const monthsSell: [][] = []
      response.data.entities.map((prop: any) => {
        sells.push(prop.average_price)
        monthsSell.push(prop.time_to_month)
        this.topItems.push(new PropTransPrice(prop))
        return lineChartData
      })
      lineChartData.item1.sell = sells[0]
      lineChartData.item1.months = monthsSell[0]
      lineChartData.item2.sell = sells[1]
      lineChartData.item2.months = monthsSell[1]
      lineChartData.item3.sell = sells[2]
      lineChartData.item3.months = monthsSell[2]
      lineChartData.item4.sell = sells[3]
      lineChartData.item4.months = monthsSell[3]
      this.loading = false
    })
  }
}
</script>

<style lang="scss" scoped>
.dashboard-editor-container {
  padding: 32px;
  background-color: rgb(240, 242, 245);
  position: relative;

  .github-corner {
    position: absolute;
    top: 0px;
    border: 0;
    right: 0;
  }

  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
  }
}

@media (max-width:1024px) {
  .chart-wrapper {
    padding: 8px;
  }
}
</style>
