<template>
  <div
    :class="className"
    :style="{height: height, width: width}"
  />
</template>

<script lang="ts">
import * as echarts from 'echarts'
import { Component, Prop, Watch } from 'vue-property-decorator'
import { mixins } from 'vue-class-component'
import ResizeMixin from '@/components/Charts/mixins/resize'

const animationDuration = 6000

@Component({
  name: 'BarChart'
})
export default class extends mixins(ResizeMixin) {
  @Prop({ default: 'chart' }) private className!: string
  @Prop({ default: '100%' }) private width!: string
  @Prop({ default: '300px' }) private height!: string

  private axios = require('axios').default;
  private VUE_DASHBOARD_API = process.env.VUE_APP_DASHBOARD_API
  private addrPropCount: any[] = []
  private addrs: string[] = []
  private properties: string[] = []

  created() {
    this.getCountAddrProp();
  }
  
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
  }

  @Watch('addrPropCount')
  onProertyChanged() {
    this.initChart()
  }

  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  }

  private async getCountAddrProp() {
    this.axios.get(this.VUE_DASHBOARD_API + 'getCountAddrProp').then((response: any) => {
      this.addrs = response.data.addr
      this.properties = response.data.property
      this.addrPropCount = response.data.count
    })
  }

  private initChart() {
    this.chart = echarts.init(this.$el as HTMLDivElement, 'macarons')
    let seriesData: any[] = []
    const addrPropCount = this.addrPropCount
    this.properties.forEach(function (value, i) {
      seriesData.push({
        name: value,
        type: 'bar',
        stack: 'vistors',
        // barWidth: '60%',
        data: addrPropCount[i],
        animationDuration
      })
    });
    this.chart.setOption({
      tooltip: {
        trigger: 'axis',
        backgroundColor: '#fff',
        axisPointer: {
          type: 'shadow'
        }
      },
      grid: {
        top: 10,
        left: '2%',
        right: '2%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: [{
        type: 'category',
        data: this.addrs.map((a: string) => a.toUpperCase()),
        // data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        axisTick: {
          alignWithLabel: true
        }
      }],
      yAxis: [{
        type: 'value',
        axisTick: {
          show: false
        }
      }],
      series: seriesData
      // series: this.addrPropCount.map((prop: AddrPropCount) => {
      //   return {
      //     name:
      //   }
      // })
      // series: [{
      //   name: 'pageA',
      //   type: 'bar',
      //   stack: 'vistors',
      //   // barWidth: '60%',
      //   data: [79, 52, 200, 334, 390, 330, 220],
      //   animationDuration
      // }, {
      //   name: 'pageB',
      //   type: 'bar',
      //   stack: 'vistors',
      //   // barWidth: '60%',
      //   data: [80, 52, 200, 334, 390, 330, 220],
      //   animationDuration
      // }, {
      //   name: 'pageC',
      //   type: 'bar',
      //   stack: 'vistors',
      //   // barWidth: '60%',
      //   data: [30, 52, 200, 334, 390],
      //   animationDuration
      // }]
    })
  }
}
</script>
