<template>
  <div
    :class="className"
    :style="{height: height, width: width}"
  />
</template>

<script lang="ts">
import * as echarts from 'echarts'
import { Component, Prop, Watch } from 'vue-property-decorator'
import { mixins } from 'vue-class-component'
import ResizeMixin from '@/components/Charts/mixins/resize' 

@Component({
  name: 'HorizonBarChart'
})
export default class extends mixins(ResizeMixin) {
  @Prop({ default: 'chart' }) private className!: string
  @Prop({ default: '100%' }) private width!: string
  @Prop({ default: '400px' }) private height!: string
  @Prop({ required: true }) private districts!: string[]
  @Prop({ required: true }) private measures!: string[]
  @Prop({ required: true }) private name!: string
  
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
  }

  @Watch('districts')
  onProertyChanged() {
    this.initChart()
  }

  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  }

  private initChart() {
    let titleName = 'Total area in district/city'
    let colorBar = '#596846'
    let metric = 'Total area (m²)'
    if (this.name === 'price') {
      titleName = 'Average price in district/city'
      colorBar = '#D37445'
      metric = 'Average price (triệu/m²)'
    }
    this.chart = echarts.init(this.$el as HTMLDivElement, 'macarons')
    this.chart.showLoading()

    if (this.districts.length !== 0) {
      this.chart.hideLoading()
    }

    this.chart.setOption({
      title: {
        text: titleName
      },
      legend: {
        // data: ['Price', 'Area']
        data: [metric]
      },
      tooltip: {
        trigger: 'axis',
        backgroundColor: '#fff',
        axisPointer: {
          type: 'shadow'
        }
      },
      grid: {
        top: 25,
        left: '2%',
        right: '2%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: {
        type: 'value',
        boundaryGap: [0, 0.01]
      },
      yAxis: {
        type: 'category',
        // data: ['District 1', 'District 2', 'District 3', 'District 4', 'District 5', 'District 6']
        data: this.districts
      },
      series: [
        {
          name: metric,
          type: 'bar',
          // data: [18203, 23489, 29034, 104970, 131744, 630230]
          data: this.measures,
          itemStyle: {color: colorBar}
          // backgroundStyle: { color: 'rgba(180, 180, 180, 0.2)' }
        }
        // {
        //   name: 'Area',
        //   type: 'bar',
        //   data: [19325, 23438, 31000, 121594, 134141, 681807]
        // }
      ]
    })
  }
}
</script>
