<template>
  <!-- <div
    :class='className'
    :style='{height: height, width: width}'
  /> -->
  <div id='chartdiv'></div>
</template>

<script lang='ts'>
import * as am4core from '@amcharts/amcharts4/core'
import * as am4maps from '@amcharts/amcharts4/maps'
import { Component, Prop, Watch } from 'vue-property-decorator'
import { mixins } from 'vue-class-component'
import ResizeMixin from '@/components/Charts/mixins/resize'
import am4themes_animated from '@amcharts/amcharts4/themes/animated'

// import * as echarts from 'echarts'
// import { Component, Prop, Watch } from 'vue-property-decorator'
// import { mixins } from 'vue-class-component'
// import ResizeMixin from '@/components/Charts/mixins/resize' 

@Component({
  name: 'InteractiveMap'
})
export default class extends mixins(ResizeMixin) {
  @Prop({ default: 'chart' }) private className!: string
  @Prop({ default: '100%' }) private width!: string
  @Prop({ default: '350px' }) private height!: string
  @Prop({ required: true }) private transaction!: string

  private axios = require('axios').default;
  private VUE_DASHBOARD_API = process.env.VUE_APP_DASHBOARD_API
  private mapData: any[] = []
  private mapCity : any = {
    'Lai Châu': 'VN-01',
    'Lào Cai': 'VN-02',
    'Hà Giang': 'VN-03',
    'Cao Bằng': 'VN-04',
    'Sơn La': 'VN-05',
    'Yên Bái': 'VN-06',
    'Tuyên Quang': 'VN-07',
    'Lạng Sơn': 'VN-09',
    'Quảng Ninh': 'VN-13',
    'Hòa Bình': 'VN-14',
    'Hà Tây': 'VN-15',
    'Ninh Bình': 'VN-18',
    'Thái Bình': 'VN-20',
    'Thanh Hóa': 'VN-21',
    'Nghệ An': 'VN-22',
    'Hà Tĩnh': 'VN-23',
    'Quảng Bình': 'VN-24',
    'Quảng Trị': 'VN-25',
    'Thừa Thiên Huế': 'VN-26',
    'Quảng Nam': 'VN-27',
    'Kon Tum': 'VN-28',
    'Quảng Ngãi': 'VN-29',
    'Gia Lai': 'VN-30',
    'Bình Định': 'VN-31',
    'Phú Yên': 'VN-32',
    'Đắk Lắk': 'VN-33',
    'Khánh Hòa': 'VN-34',
    'Lâm Đồng': 'VN-35',
    'Ninh Thuận': 'VN-36',
    'Tây Ninh': 'VN-37',
    'Đồng Nai': 'VN-39',
    'Bình Thuận': 'VN-40',
    'Long An': 'VN-41',
    'Bà Rịa Vũng Tàu': 'VN-43',
    'An Giang': 'VN-44',
    'Đồng Tháp': 'VN-45',
    'Tiền Giang': 'VN-46',
    'Kiên Giang': 'VN-47',
    'Vĩnh Long': 'VN-49',
    'Bến Tre': 'VN-50',
    'Trà Vinh': 'VN-51',
    'Sóc Trăng': 'VN-52',
    'Bắc Kạn': 'VN-53',
    'Bắc Giang': 'VN-54',
    'Bạc Liêu': 'VN-55',
    'Bắc Ninh': 'VN-56',
    'Bình Dương': 'VN-57',
    'Bình Phước': 'VN-58',
    'Cà Mau': 'VN-59',
    'Hải Dương': 'VN-61',
    'Hà Nam': 'VN-63',
    'Hưng Yên': 'VN-66',
    'Nam Định': 'VN-67',
    'Phú Thọ': 'VN-68',
    'Thái Nguyên': 'VN-69',
    'Vĩnh Phúc': 'VN-70',
    'Điện Biên': 'VN-71',
    'Đắk Nông': 'VN-72',
    'Hậu Giang': 'VN-73',
    'Cần Thơ': 'VN-CT',
    'Đà Nẵng': 'VN-DN',
    'Hà Nội': 'VN-HN',
    'Hải Phòng': 'VN-HP',
    'Hồ Chí Minh': 'VN-SG'
  }

  // created() {
  //   this.getPriceArea()
  // }

  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
  }

  @Watch('mapData')
  onDataChanged() {
    this.initChart()
  }

  mapIdWithProvinceCity(provinceCity: string) {
    return this.mapCity[provinceCity]
  }

  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  }

//   private initChart() {
//     console.log(this.mapData)
//     this.chart = echarts.init(this.$el as HTMLDivElement, 'macarons')
//     this.chart.showLoading()

//     const api = 'https://www.amcharts.com/lib/4/geodata/json/vietnamLow.json'
//     // const api = 'https://echarts.apache.org/examples/data/asset/geo/USA.json'
//     this.axios.get(api)
//     .then((vnJson: any) => {
//       this.chart?.hideLoading()
//       echarts.registerMap('vietnam', vnJson.data)
//       console.log(vnJson)
//     })

//     this.chart.setOption({
//       title: {
//         text: 'Average Price and Total area of Real Estate in Viet Nam',
//         left: 'right'
//       },
//       tooltip: {
//         trigger: 'item',
//         showDelay: 0,
//         transitionDuration: 0.2,
//         formatter: function (params: any) {
//             const value: string[] = (params.value + '').split('.');
//             const val = value[0].replace(/(\d{1,3})(?=(?:\d{3})+(?!\d))/g, '$1,');
//             return params.seriesName + '<br/>' + params.name + ': ' + val;
//         }
//       },
//       visualMap: {
//         left: 'right',
//         min: 500000,
//         max: 38000000,
//         inRange: {
//             color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
//         },
//         text: ['High', 'Low'], 
//         calculable: true
//       },
//       toolbox: {
//         show: true,
//         //orient: 'vertical',
//         left: 'left',
//         top: 'top',
//         feature: {
//             dataView: {readOnly: false},
//             restore: {},
//             saveAsImage: {}
//         }
//       },
//       series: [
//         {
//           name: 'Average Price',
//           type: 'map',
//           roam: true,
//           emphasis: {
//             label: {
//               show: true
//             }
//           },
//           data: this.mapData
//         }
//       ]
//     })
//   }

//   async getPriceArea() {
//     this.mapData = []
//     this.axios.get(this.VUE_DASHBOARD_API + 'getPriceArea?transaction=' + this.transaction).then((response: any) => {
//       response.data.entities.map((province: any) => {
//         const id = this.mapCity[province.province_city]
//         if (id) {
//           this.mapData.push({
//             id: id,
//             value: province.average_price.toFixed(2)
//           })
//         }
//       })
//     })
//   }
// }

  private initChart() {
    const currentMap = 'vietnamLow'

    am4core.useTheme(am4themes_animated)
    const chart = am4core.create('chartdiv', am4maps.MapChart)

    const title = chart.titles.create()
    title.text = '[bold font-size: 20]Average Price of Real Estate in Viet Nam[/]\nsource: Gapminder'
    title.textAlign = 'middle'

    chart.geodataSource.url = "https://www.amcharts.com/lib/4/geodata/json/" + currentMap + ".json";

    chart.dataSource.url = this.VUE_DASHBOARD_API + 'getPriceArea?transaction=' + this.transaction

    chart.dataSource.events.on('parseended', function (ev) {
      const mapCity : any = {
        'Lai Châu': 'VN-01',
        'Lào Cai': 'VN-02',
        'Hà Giang': 'VN-03',
        'Cao Bằng': 'VN-04',
        'Sơn La': 'VN-05',
        'Yên Bái': 'VN-06',
        'Tuyên Quang': 'VN-07',
        'Lạng Sơn': 'VN-09',
        'Quảng Ninh': 'VN-13',
        'Hòa Bình': 'VN-14',
        'Hà Tây': 'VN-15',
        'Ninh Bình': 'VN-18',
        'Thái Bình': 'VN-20',
        'Thanh Hóa': 'VN-21',
        'Nghệ An': 'VN-22',
        'Hà Tĩnh': 'VN-23',
        'Quảng Bình': 'VN-24',
        'Quảng Trị': 'VN-25',
        'Thừa Thiên Huế': 'VN-26',
        'Quảng Nam': 'VN-27',
        'Kon Tum': 'VN-28',
        'Quảng Ngãi': 'VN-29',
        'Gia Lai': 'VN-30',
        'Bình Định': 'VN-31',
        'Phú Yên': 'VN-32',
        'Đắk Lắk': 'VN-33',
        'Khánh Hòa': 'VN-34',
        'Lâm Đồng': 'VN-35',
        'Ninh Thuận': 'VN-36',
        'Tây Ninh': 'VN-37',
        'Đồng Nai': 'VN-39',
        'Bình Thuận': 'VN-40',
        'Long An': 'VN-41',
        'Bà Rịa Vũng Tàu': 'VN-43',
        'An Giang': 'VN-44',
        'Đồng Tháp': 'VN-45',
        'Tiền Giang': 'VN-46',
        'Kiên Giang': 'VN-47',
        'Vĩnh Long': 'VN-49',
        'Bến Tre': 'VN-50',
        'Trà Vinh': 'VN-51',
        'Sóc Trăng': 'VN-52',
        'Bắc Kạn': 'VN-53',
        'Bắc Giang': 'VN-54',
        'Bạc Liêu': 'VN-55',
        'Bắc Ninh': 'VN-56',
        'Bình Dương': 'VN-57',
        'Bình Phước': 'VN-58',
        'Cà Mau': 'VN-59',
        'Hải Dương': 'VN-61',
        'Hà Nam': 'VN-63',
        'Hưng Yên': 'VN-66',
        'Nam Định': 'VN-67',
        'Phú Thọ': 'VN-68',
        'Thái Nguyên': 'VN-69',
        'Vĩnh Phúc': 'VN-70',
        'Điện Biên': 'VN-71',
        'Đắk Nông': 'VN-72',
        'Hậu Giang': 'VN-73',
        'Cần Thơ': 'VN-CT',
        'Đà Nẵng': 'VN-DN',
        'Hà Nội': 'VN-HN',
        'Hải Phòng': 'VN-HP',
        'Hồ Chí Minh': 'VN-SG'
      }
      let data = []
      for(var i = 0; i < ev.target.data.entities.length; i++) {
        const id = mapCity[ev.target.data.entities[i].province_city]
        if (id) {
          data.push({
            id: id,
            value: ev.target.data.entities[i].total_area.toFixed(2)
          })
        }
      }
      console.log(data)
      polygonSeries.data = data;
    })

    // Set projection
    chart.projection = new am4maps.projections.Mercator();

    // Create map polygon series
    let polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());

    // polygonSeries.data = this.mapData;

    //Set min/max fill color for each area
    polygonSeries.heatRules.push({
      property: "fill",
      target: polygonSeries.mapPolygons.template,
      min: chart.colors.getIndex(1).brighten(1),
      max: chart.colors.getIndex(1).brighten(-0.3)
    });

    // Make map load polygon data (state shapes and names) from GeoJSON
    polygonSeries.useGeodata = true;

    // Set up heat legend
    let heatLegend = chart.createChild(am4maps.HeatLegend);
    heatLegend.series = polygonSeries;
    heatLegend.align = "right";
    heatLegend.width = am4core.percent(25);
    heatLegend.marginRight = am4core.percent(4);
    heatLegend.minValue = 1000;
    heatLegend.maxValue = 1000000;
    heatLegend.valign = "bottom";

    // Set up custom heat map legend labels using axis ranges
    let minRange = heatLegend.valueAxis.axisRanges.create();
    minRange.value = heatLegend.minValue;
    // minRange.label.text = "Little";
    let maxRange = heatLegend.valueAxis.axisRanges.create();
    maxRange.value = heatLegend.maxValue;
    // maxRange.label.text = "A lot!";

    // Blank out internal heat legend value axis labels
    // heatLegend.valueAxis.renderer.labels.template.adapter.add("text", function(labelText) {
    //   return "";
    // });

    // Configure series tooltip
    let polygonTemplate = polygonSeries.mapPolygons.template;
    polygonTemplate.tooltipText = "{name}: {value}";
    polygonTemplate.nonScalingStroke = true;
    polygonTemplate.strokeWidth = 0.5;

    // Create hover state and set alternative fill color
    let hs = polygonTemplate.states.create("hover");
    hs.properties.fill = chart.colors.getIndex(10).brighten(-0.5);
  }
}
</script>
<style scoped>
#chartdiv {
  width: 100%;
  height: 1000px
}
</style>
