<template>
  <div
    :class="className"
    :style="{height: height, width: width}"
  />
</template>

<script lang="ts">
import * as echarts from 'echarts'
import { Component, Prop, Watch } from 'vue-property-decorator'
import { mixins } from 'vue-class-component'
import ResizeMixin from '@/components/Charts/mixins/resize'

// const animationDuration = 6000

@Component({
  name: 'MixedBarChart'
})
export default class extends mixins(ResizeMixin) {
  @Prop({ default: 'chart' }) private className!: string
  @Prop({ default: '100%' }) private width!: string
  @Prop({ default: '300px' }) private height!: string
  @Prop({ required: true }) private data: any
  
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
  }

  @Watch('data')
  onProertyChanged() {
    this.initChart()
  }

  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  }

  private initChart() {
    console.log(this.data)
    this.chart = echarts.init(this.$el as HTMLDivElement, 'macarons')
    this.chart.showLoading()
    if (this.data.source !== 0) {
      this.chart.hideLoading()
    }
    this.chart.setOption({
      legend: {
        // left: 'center',
        // bottom: '10',
        // data: ['Allocated Budget', 'Expected Spending', 'Actual Spending']
      },
      tooltip: {
        trigger: 'axis',
        backgroundColor: '#fff',
        axisPointer: {
          type: 'shadow'
        }
      },
      grid: {
        top: 10,
        left: '2%',
        right: '2%',
        bottom: '3%',
        containLabel: true
      },
      dataset: {
        dimensions: this.data.dimensions,
        source: this.data.source
      },
      xAxis: { type: 'category' },
      yAxis: {},
      series: [
        { type: 'bar' },
        { type: 'bar' }
      ]
    })
  }
}
</script>
