<template>
  <div>Select Sort Type
    <el-select v-model="selectedSort" 
      filterable 
      :value-key="selectedSort"
      @change="handleChangeSortType">
      <el-option
        v-for="item in sortTypes"
        :key="item.value"
        :label="item.label"
        :value="item.value">
      </el-option>
    </el-select>
    <el-table
      :data="listProject"
      v-loading="loading"
      style="width: 100%;padding-top: 15px;"
    >
      <el-table-column
        label="Project"
        width="400"
      >
        <template slot-scope="{row}">
          <!-- {{ row.orderId | orderNoFilter }} -->
          {{ row.project_name }}
        </template>
      </el-table-column>
      <el-table-column
        label="Price"
        width="200"
        align="center"
      >
        <template slot-scope="{row}">
          {{ row.average_price.toFixed(2) + " " + priceUnit }}
          <!-- ¥{{ row.price | toThousandFilter }} -->
          <!-- {{ row.average_price | toThousandFilter }} -->
        </template>
      </el-table-column>
      <el-table-column
        label="Post numbers"
        width="150"
        align="center"
      >
        <template slot-scope="{row}">
          <!-- <el-tag :type="row.status | transactionStatusFilter"> -->
            <!-- {{ row.status }} -->
            {{ row.post_count }}
          <!-- </el-tag> -->
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'

@Component({
  name: 'TransactionTable',
  filters: {
    transactionStatusFilter: (status: string) => {
      const statusMap: { [key: string]: string } = {
        success: 'success',
        pending: 'danger'
      }
      return statusMap[status]
    },
    orderNoFilter: (str: string) => str.substring(0, 30),
    // Input 10000 => Output "10,000"
    toThousandFilter: (num: number) => {
      // return num.toFixed(2)
      return (+num || 0).toString().replace(/^-?\d+/g, m => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','))
    }
  }
})
export default class extends Vue {
  @Prop({ required: true }) private transaction!: string
  @Prop({ required: true }) private province!: string

  private axios = require('axios').default;
  private VUE_DASHBOARD_API = process.env.VUE_APP_DASHBOARD_API
  private listProject: any[] = []
  private priceUnit: string = "triệu/m²"
  private selectedSort = 'postCount'
  private sortTypes = [
    {
      value: 'postCount',
      label: 'Number of posts'
    },
    {
      value: 'price',
      label: 'Price'
    }
  ]
  private loading : boolean = true

  created() {
    this.projectAddrPrice()
  }

  @Watch('province')
  onProvinceChanged() {
    this.projectAddrPrice()
  }

  @Watch('transaction')
  onTransactionChanged() {
    this.projectAddrPrice()
  }

  handleChangeSortType() {
    this.loading = true
    this.projectAddrPrice()
  }

  async projectAddrPrice() {
    this.listProject = []
    console.log(this.loading)
    const api = this.province === 'Tất cả'
                ? this.VUE_DASHBOARD_API + 'getProject?transaction=' + this.transaction + "&sort=" + this.selectedSort
                : this.VUE_DASHBOARD_API + 'getProjectProvince?transaction=' + this.transaction + "&sort=postCount&province=" + this.province

    this.axios.get(api).then((response: any) => {
      response.data.entities.map((prop: any) => this.listProject.push(prop))
      this.loading = false
    })
  }
  
}
</script>
